<style type="text/css">
    .navbar-inverse {
        background-color: #22262e;
    }
</style>
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#one-app-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img height="23px" width="23px" src="images/logo-o.png" alt="Logo"> Angular Point Demo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="one-app-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">
                    <i class="fa fa-home fa-lg"></i> Demo</a>
                </li>
            </ul>
        </div>
        <span us-spinner="{radius:5, width:2, length: 8, color: '#ffffff'}"
              style="position:absolute;right:24px;top:24px; margin-left: 8px" spinner-key="nav-spinner"></span>
    </div>
</div>